*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}
.new-btn{
    margin-top: 3vh;
    height: 15vh;
    width: 20vw;
    border-radius: 1rem;
    border:  none;

}


.newgame{
    height: 10vh;
    width: 10vw;
    border-radius: 1rem;
    border:  none;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content:center ;
    gap: 20vh;
}

#box1{
    /* text-align: center; */
    color: beige;
    font-size: 35px;
    display: flex;
    justify-content: center;
   
}


.container{
    width: 100vw;
    height: 80vh;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;

  
   
    
}
.new-btn{
    font-size: 45px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
    color: #b0413e;
}

.msg-box{
    height: 100px;
    width: 100px;
    border-radius: 1rem;
    border :none;
    visibility: hidden;
    
}



